#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_MAIN_DIALOG DIALOGEX 0, 0, 530, 360
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Volume 설정 툴"
FONT 9, "Segoe UI"
BEGIN
CONTROL         "", IDC_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_HORZ, 20, 20, 200, 15
LTEXT           "기준값: 0.0 dB", IDC_STATIC_VALUE, 20, 45, 150, 12

GROUPBOX        "간격 선택", -1, 20, 70, 110, 30   // 가로 세로 더 줄임
AUTORADIOBUTTON "0.2", IDC_RADIO1, 30, 78, 30, 20, WS_GROUP
AUTORADIOBUTTON "0.5", IDC_RADIO2, 60, 78, 30, 20
AUTORADIOBUTTON "1.0", IDC_RADIO3, 90, 78, 30, 20

GROUPBOX        "기준값 방향", -1, 140, 70, 97, 30
AUTORADIOBUTTON "감소 (-)", IDC_RADIO_DIRECTION_BELOW, 145, 82, 45, 10, WS_GROUP
AUTORADIOBUTTON "증가 (+)", IDC_RADIO_DIRECTION_ABOVE, 190, 82, 45, 10

GROUPBOX        "단위 선택", -1, 20, 105, 110, 30  // 세로 더 줄임
AUTORADIOBUTTON "dB", IDC_RADIO_DB, 30, 120, 40, 13, WS_GROUP
AUTORADIOBUTTON "BCK", IDC_RADIO_BCK, 70, 120, 40, 13

CONTROL         "Mute", IDC_CHECK_MUTE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 20, 150, 50, 10
LTEXT           "최소값은 -128dB 입니다", IDC_STATIC_MIN_VALUE, 20, 165, 150, 10
PUSHBUTTON      "계산", IDC_CALC_BTN, 140, 150, 60, 15

EDITTEXT        IDC_OUTPUT_BOX, 20, 180, 200, 125, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

LTEXT           "dB → Binary 변환", -1, 20, 310, 80, 10
EDITTEXT        IDC_INPUT_DB, 20, 325, 60, 12, WS_BORDER | WS_TABSTOP
PUSHBUTTON      "변환", IDC_CONVERT_BTN, 90, 325, 40, 12
EDITTEXT        IDC_OUTPUT_BIN, 140, 325, 80, 12, ES_READONLY

GROUPBOX        "[자동계산]  간격 STEP 없음", -1, 240, 20, 260, 300

LTEXT           "최소값", -1, 250, 40, 40, 10
EDITTEXT        IDC_COMP_MIN, 300, 40, 60, 12, WS_BORDER | WS_TABSTOP

LTEXT           "최대값", -1, 250, 60, 40, 10
EDITTEXT        IDC_COMP_MAX, 300, 60, 60, 12, WS_BORDER | WS_TABSTOP

LTEXT           "비트 갯수", -1, 250, 80, 40, 10
EDITTEXT        IDC_COMP_BITS, 300, 80, 60, 12, WS_BORDER | WS_TABSTOP

GROUPBOX        "단위 선택", -1, 250, 100, 115, 30
AUTORADIOBUTTON "%", IDC_COMP_UNIT_PERCENT, 260, 112, 20, 10, WS_GROUP
AUTORADIOBUTTON "°C", IDC_COMP_UNIT_CELSIUS, 290, 112, 31, 10
AUTORADIOBUTTON "V (Volt)", IDC_COMP_UNIT_VOLT, 320, 112, 42, 10

PUSHBUTTON      "계산 (HACOP 스펙)", IDC_COMP_CALC_BTN, 380, 106, 90, 15
EDITTEXT        IDC_COMP_OUTPUT_BOX, 250, 135, 240, 180, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL

LTEXT           "developed by ricki.lee", IDC_STATIC_CREDIT, 340, 325, 150, 10, SS_RIGHT
END
